<html>
<head>
  <title>Sinatra App</title>
  <link href="<%= url('css/main.css') %>" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="jquery-latest.js"></script>
  <script type="text/javascript" src="index.js"></script>
  <script type="text/javascript" src="accounting.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
